@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
:root {
    --clr-bg: #ffffff;
    --clr-bg-1: #CFEEF2;
    --clr-bg-2: #9DBEF1;
    --clr-bg-3: #7DA8EC;
    --clr-bg-4: #5C92E7;
    --clr-bg-5: #4A77BE;
    --clr-bg-6: #EC7D30;
    --clr-bg-7: #FFE5D3;
    --clr-bg-8: #1B98E0;

    --clr-txt-1: #0B1A46;
    --clr-txt-2: #1565C0;
    --clr-txt-3: #ffffff;
    --clr-txt-4: #C54242;
    --clr-txt-5: #EC7D30;
    --clr-txt-6: #1B98E0;

  }


